@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* Configuración del tema (solo variables y @keyframes) */
@theme {
  --font-sans: "Poppins";
  --breakpoint-xs: 480px;
}

/* Animación (definida fuera de @theme) */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Clase de animación (fuera de @theme) */
.animate-slide {
  animation: slide 40s linear infinite;
}

/* Resto de estilos globales */
html {
  scroll-behavior: smooth;
}

.hide-horizontal-scrollbar {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-horizontal-scrollbar::-webkit-scrollbar {
  display: none;
}